@charset "UTF-8";
/*Demais Versões*/

/*Typical Device Breakpoints
cll pequeno :até 600px
cll: 600px-768px
tablet: 768px-992px
desktop: 992px-1200px
telas grandes: acima de 1200px
*/

@media print /*impressão*/{
    body {
        background-image: url(../imagens/back-print.jpg); /*n funciona*/
       
    }
    main {
        border: 2px solid black;
    }

    main h1 {
         font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

img#phone {display: none;}
img#pc{display: none;}
img#print{display: block;}
img#tablet{display: none;}
img#tv{display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px) /*tablet*/ {
 body {
    background-image: url(../imagens/back-tablet.jpg);
 }
img#phone {display: none;}
img#pc{display: none;}
img#print{display: none;}
img#tablet{display: block;}
img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) /*desktop*/ {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#pc{display: block;}
    img#print{display: none;}
    img#tablet{display: none;}
    img#tv{display: none;}

}


@media screen and (min-width: 1200px) /*tela grande*/ {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    main {
        width: 700px;
    }
img#phone {display: none;}
img#pc{display: none;}
img#print{display: none;}
img#tablet{display: none;}
img#tv{display: block;}

}